html{
    font-size: 125.0%;
}
*{
    padding: 0;
    margin: 0;
    font-size: 0.7rem;
}


body{
    background-color: #000b1f;
}
ul{

}
a:visited {color: #116cd7;}
a{
    text-decoration:none;
}
ul li{
    list-style-type:none;
}
.home_bg{
    width:100%;
    height:38.4rem;
    background:url(../imges/home_bg.jpg) no-repeat center center ;
}
/*导航条*/
#header{
    height: 2.9rem;
    background-image:linear-gradient(90deg,rgba(3,59,128,0.4) 0%,rgba(9,99,192,0.4) 100%);
    padding: 0 1rem;
    position:relative;
}
#header:before{
    content: "";
    display:table;
}
#header:after{
    content: "";
    display:table;
    clear:both;
}
#header>.left{
    display: inline-block;
    margin-top:0.8rem;
}
#header> .left .more{
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.5rem;
    cursor: pointer;
}
#header>.right{
    float:right;
    height: 2.9rem;
    line-height:2.9rem;
}
#header>.right span{
    color:#1871E3;
    font-weight: 700;
    letter-spacing: 1px;
}
#header>.right .fullImg{
    width:0.85rem;
    height:0.7rem;
    margin:0 0.5rem  -0.1rem  2rem;
    cursor: pointer;
}
/*侧边栏-更多功能*/
#header>.more_info{
    position:absolute;
    top:0;
    left:-18.5rem;
    width: 16.5rem;
    height: 38.4rem;
    padding:0 1rem;
    background:rgba(0,18,49,0.8);
    z-index:1000;
    overflow:hidden;
    transform: translateX(-18.5rem);/*left比较耗性能,造成卡顿*/
    transition:transform 1s linear;

}
/*@keyframes yy*/
/*{*/
    /*from {left:0px;}*/
    /*to {left:200px;}*/
/*}*/

/*@-webkit-keyframes yy !*Safari and Chrome*!*/
/*{*/
    /*from {left:0px;}*/
    /*to {left:200px;}*/
/*}*/
#header>.on{
    /*left:0;  !*left比较耗性能,造成卡顿*!*/
    /*-moz-animation:yy 2s linear; !* Firefox *!*/
    /*-webkit-animation:yy 2s linear; !* Safari and Chrome *!*/
    /*-o-animation:yy 2s linear; !* Opera *!*/
    /*-webkit-animation-timing-function:linear;*/
    transform: translateX(18.5rem);
    transition:transform 1s linear;
}
#header>.more_info>img{
    width: 1.2rem;
    height: 1.2rem;
    margin-top:0.8rem;
    cursor: pointer;
}
#header>.more_info .more_detail{
    margin-top:1.9rem;
}
#header>.more_info .more_detail:after{
    content:"";
    display:table;
    clear:both;
}
.more_detail dl{
    float: left;
    width: 50%;
    text-align: center;
    margin-bottom:1rem;
}
.more_detail dl dt img{
    width:6rem;
    height:3.4rem
}
.more_detail dl dd {
    color: #fff;
    font-size:0.6rem;
    margin-top:0.5rem;
}


/*#moreproject:hover>#zzc{*/
/*display: block;*/
/*}*/
/*.right>ul>li{*/
/*background-color:#043061;*/
/*width: 100px;*/
/*height: 60px;*/
/*line-height: 60px;*/
/*text-align: center;*/
/*color: #116cd7;*/
/*position: relative;*/
/*}*/

#section{
    padding: 1rem 1rem 0 1rem;
}
#section:before{
    content: "";
    display:table;
}
#section:after{
    content: "";
    display:table;
    clear:both;
}
#section>div{
    float: left;
    box-sizing:border-box;
}
#leftdiv,#rightdiv{
    width: 26%;
}
#rightdiv{
    width: 22%;
}
#centerdiv1{
    width: 52%;
    padding: 0 0.5rem;
}
#leftdiv,#centerdiv,#rightdiv{
    box-sizing:border-box;
    height: 34.5rem;
    border: 0.05rem solid #0752A3;
    border-radius: 0.5rem;
    position: relative;
    box-shadow: inset 0.1rem 0 1rem rgba(13,82,160,0.6);
    background-image:linear-gradient(90deg,rgba(3,59,128,0.4) 0%,rgba(9,99,192,0.4) 100%);
}
#leftdiv>.fresh{
    text-align: right;
    margin:0.75rem 0.5rem 0.5rem;
}
#leftdiv>.fresh img{
    width: 0.8rem;
    height: 0.7rem;
    cursor: pointer;
    margin-right:0.25rem;
}
#leftdiv>ul>li{
    display:block;
    height: 3.05rem;
    margin:1.5rem 0.5rem;
}
#leftdiv>ul>li:first-child{
    margin-top:0;
}

#leftdiv>ul>li>img{
    width: 2rem;
    height: 2rem;
    float: left;
}
#leftdiv>ul>li>.info{
    display: block;
    margin-left: 2.65rem;
    height: 60px;
    border-bottom: 0.05rem solid #083A69;
}
#leftdiv .info>p{
    height: 1.25rem;
    color: #fff;
    font-weight: bold;
}
#leftdiv .info>p>span{
    font-size: 0.9rem;
    font-weight:bold;
    color: yellow;
}
#leftdiv .info>p:first-child>span:before{
    content: '';
    display: inline;
}
#leftdiv .info>p .int{
    font-size: 0.9rem;
    font-weight:bold;
    display: none;
    color: #2cf80b;
}

#linecavs{
    position: absolute;
    width: 120%;
    left: -1.5rem;
    height: 15rem;
}
#mapcavs{
    position: relative;
    width: 100%;
    height: 27rem;
}
.bottomview{
    height:7.4rem;
    padding: 0 1rem;
}
.bottomview>ul{
    width: 30%;
    float: left;
}
.bottomview>ul>li{
    height: 1.3rem;
    color: white;
    font-weight: bold;
    letter-spacing: 0.05rem;
}
.bottomview>ul#first{
    width: 40%;
}
.bottomview>ul#first li{
    position: relative;
}
.bottomview>ul#first li.second{
    margin: 0.65rem 0;
}
.bottomview>ul#first li img{
    float: left;
    margin-top:-0.55rem;
    margin-right: 0.5rem;
}
.bottomview>ul li span.value{
    margin-left: 0.25rem;
    color: yellow;
    font-weight: bold;
}
.bottomview>ul li span.var1,.bottomview>ul li span.var2,.bottomview>ul li span.var3{
    color:#e72a0f;
    position: absolute;
    top:0;
    right: 8%;
}

#rightcavs1{
    width:130% ;
    height:11rem;
    position: relative;
    left: -1.8rem;
}
#rightdiv>h4{
    width:80%;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    margin: 0.5rem auto;
    color: #0fc0ec;
    border: 0.05rem solid #0fc0ec;
    border-radius: 0.75rem;
}
#rightcavs2{
    width:100% ;
    height:12rem;
    position: relative;
    left: 0;
}
#rightcavs3{
    width: 120%;
    height:10rem;
    position: relative;
    left: -1rem;
    top: -2.5rem;
}
#zzc{
    width:5rem;
    z-index: 19999;
    position: absolute;
    background-color: #043061;
    left:-0.75rem;
    display: none;
}

#zzc >ul>li{
    width: 10rem;
    height: 3rem;
}
#zzc >ul>li:hover{
    background-color: #0fc0ec;
    color: #ffc321;
}
#zzc >ul>li>a{
    position: relative;
    top:-0.6rem;

}

/*以下是全省纳税人登记注册情况样式*/
.leftview{
    float: left;
    width: 65%;
    height:auto;
    border: 1px solid #000;
}
.rightview{
    float: left;
    width: 33%;
    height: auto;
    border: 1px solid #000;
}
#mainnsdjqk{
    width: 800px;
    height: 600px;
}