body{
    background: url("../imges/qsnsrdjzcBackground.png") no-repeat;
    background-size: 100%;
}
.qknddb .qknddbList{
    margin: 4rem 0 0 10rem;
}
.qknddb .qknddbList li{
    border-bottom: 1px dashed #ddd;
    padding: 1rem 0px 3rem;
}
.qknddb .qknddbList li .qknddbOption{
    font-size: 1.5rem;
    color: #ddd;
    line-height: 5rem;
}
.qknddb .qknddbList li .qknddbData{
    font-size: 3rem;
    color: rgb(255, 195, 33);
    line-height: 4rem;
}