body{
    background: url("../imges/qsnsrdjzcBackground.png") no-repeat;
    background-size: 100%;
}
.qknddb .qknddbList{
    margin: 4rem 0 0 10rem;
}
.qknddb .qknddbList li{
    border-bottom: 1px dashed #ddd;
    padding: 0rem 0px 1rem;
}
.qknddb .qknddbList li .qknddbOption{
    font-size: 1.5rem;
    color: #ddd;
    line-height: 3rem;
}
.qknddb .qknddbList li .qknddbData{
    font-size: 3rem;
    color: rgb(255, 195, 33);
    line-height: 4rem;
}
#leftBox{
    width:60%;
    /*height:30rem ;*/
    float : left;
    margin-top: 5rem;
}
.rightBox{
    float: left;
    width: 40%
;
}