body{
    background: url("../imges/19.pic.jpg") no-repeat;
    background-size: 100% auto;
}
.wbmlw .centerBox{
    width: 100%;
    height: 50rem;
}
.wbmlw .centerBox .cricle{
    width: 100px;
    height: 50px;
    margin: auto;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: #1880f6;
    position:relative;
    font-size: 1.5rem;
    color: #ffffff;
    text-align: center;
    padding: 25px 0;
    animation:fuckThings 4s infinite;
    animation-direction:alternate;
    -webkit-animation:fuckThings 4s infinite;
    -webkit-animation-direction:alternate;
    -moz-animation:fuckThings 4s infinite;
    -moz-animation-direction:alternate;
    -o-animation:fuckThings 4s infinite;
    -o-animation-direction:alternate;
    transition:all 0.5s linear;
}
@keyframes fuckThings
{
    0%   {left:0px; top:0px;}
    50%  {left:0px; top:30px;}
    100% {left:0px; top:0px;}
}

@-webkit-keyframes fuckThings /* Safari and Chrome */
{
    0%   {left:0px; top:0px;}
    50%  {left:0px; top:30px;}
    100% {left:0px; top:0px;}
}
.wbmlw .centerBox .cricle:hover{
    background: #ffffff;
    border: 5px solid #1880f6;
    width: 220px;
    height: 80px;
    padding: 70px 0;
    font-size: 2.5rem;
    -webkit-border-radius: 220px;
    -moz-border-radius: 220px;
    border-radius: 220px;
    color: #1880f6;
    transition:all 0.5s linear;
}
.wbmlw .centerBox .img{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: rgba(1,46,138,0.5) none repeat scroll !important;
    /*IE背景透明*/
    background-color: #ffffff;
    filter: alpha(opacity=50);
    animation:fuckYou 10s infinite;
    animation-direction:alternate;
    position: absolute;
}
@keyframes fuckYou
{
    0%   {left:0px; top:0px;}
    50%  {left:0px; top:100%;}
    100% {left:0px; top:0px;}
}

@-webkit-keyframes fuckYou /* Safari and Chrome */
{
    0%   {left:0px; top:0px;}
    50%  {left:0px; top:100%;}
    100% {left:0px; top:0px;}
}

