<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="../js/jquery.js"></script>
    <script src="../js/esl.js"></script>
    <script src="../js/echarts.js"></script>
    <script src="../js/angular.min.js"></script>
    <style>
        #cavs1{
            width:85%;
            height:40rem;
            float: left;
        }
    </style>
</head>
<body>
<div  id="cavs1"></div>
<div class="footBox">
    <ul>
        <li><a href="sssbqkjk.html"><img src="../imges/left.png"></a></li>
        <li><a href="../index.html"><img src="../imges/home.png"></a></li>
        <li><a href="qsnsrdjzc.html"><img src="../imges/right.png"></a></li>
    </ul>
</div>
<script src="../js/demo2.js"></script>
</body>
</html>