<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/highcharts.js"></script>
    <script type="text/javascript" src="../js/exporting.js"></script>
    <script type="text/javascript" src="../js/highcharts-3d.js"></script>
    <script src="../js/qknddb.js"></script>
</head>
<body>
<div id="container" style="width:700px;height:400px"></div>
</body>
</html>