<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>多图联动</title>
    <script src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/highcharts.js"></script>
    <script type="text/javascript" src="../js/exporting.js"></script>
    <script type="text/javascript" src="../js/highcharts-3d.js"></script>
    <style>
        #cavs1,#cavs2{
            width:45%;
            height:40rem;
            float: left;
        }
        body{
            background-color: #012e8a;
        }
    </style>
</head>
<body>
<div  id="cavs1"></div>
<div id="cavs2"></div>
<script src="../js/demo1.js"></script>
</body>
</html>