<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>地区收入排名</title>
    <link rel="stylesheet" type="text/css" href="../css/publicStyle.css">
    <link type="text/css" rel="stylesheet" href="../css/qknddb.css">
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script src="../js/esl.js"></script>
    <script src="../js/echarts.js"></script>
    <script src="../js/gg.js"></script>
    <script src="../js/angular.min.js"></script>
</head>
<body ng-app="dqsrpm">
<div class="box" ng-controller="dqsrpmCtrl" id="box">
    <div class="topBox">
        <p class="title">地区收入排名</p>
        <!--<img src="../imges/titleBackground.png">-->
    </div>
    <div class="leftBox" id="mapcavs" style="height: 500px"></div>
    <div class="rightBox qsdssrzsBox">
        <div>
            <div class="pmBox">
                <p>税收收入排名</p>
                <ul>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footBox">
        <ul>
            <li><a href="demo2.html"><img src="../imges/left.png"></a></li>
            <li><a href="../index.html"><img src="../imges/home.png"></a></li>
            <li><a href="qsnsrdjzc.html"><img src="../imges/right.png"></a></li>
        </ul>
    </div>
</div>
<script src="../js/dqsrpm.js"></script>
</body>
</html>