<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>地区收入排名</title>
    <link rel="stylesheet" type="text/css" href="../css/publicStyle.css">
    <link type="text/css" rel="stylesheet" href="../css/qknddb.css">
    <link type="text/css" rel="stylesheet" href="../css/dqsrpm.css">
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script src="../js/esl.js"></script>
    <script src="../js/echarts.js"></script>
    <script src="../js/gg.js"></script>
    <script src="../js/angular.min.js"></script>
</head>
<body ng-app="dqsrpm">
<div class="box" ng-controller="dqsrpmCtrl" id="box">
    <div class="topBox">
        <p class="title">地区收入排名</p>
        <!--<img src="../imges/titleBackground.png">-->
    </div>
    <div class="leftBox" id="mapcavs" style="height: 500px"></div>
    <div class="rightBox qsdssrzsBox">
        <div class="pmBox">
            <div class="srBox">
                <p>税收收入排名</p>
                <ul>
                    <li><img src="../imges/num/01.png"><span class="dq">杭州市</span><span>124332546</span></li>
                    <li><img src="../imges/num/02.png"><span class="dq">杭州市</span><span>124332546</span></li>
                    <li><img src="../imges/num/03.png"><span class="dq">杭州市</span><span>124332546</span></li>
                    <li><img src="../imges/num/04.png"><span class="dq">杭州市</span><span>124332546</span></li>
                    <li><img src="../imges/num/05.png"><span class="dq">杭州市</span><span>124332546</span></li>
                    <li><img src="../imges/num/06.png"><span class="dq">杭州市</span><span>124332546</span></li>
                    <li><img src="../imges/num/07.png"><span class="dq">杭州市</span><span>124332546</span></li>
                    <li><img src="../imges/num/08.png"><span class="dq">杭州市</span><span>124332546</span></li>
                    <li><img src="../imges/num/09.png"><span class="dq">杭州市</span><span>124332546</span></li>
                    <li><img src="../imges/num/10.png"><span class="dq">杭州市</span><span>124332546</span></li>
                    <li><img src="../imges/num/11.png"><span class="dq">杭州市</span><span>124332546</span></li>
                </ul>
            </div>
            <div class="zfBox">
                <p>税收增幅排名</p>
                <ul>
                    <li><img src="../imges/num/01.png"><span class="dq">杭州市</span><span>124332546</span></li>
                    <li><img src="../imges/num/02.png"><span class="dq">杭州市</span><span>124332546</span></li>
                    <li><img src="../imges/num/03.png"><span class="dq">杭州市</span><span>124332546</span></li>
                    <li><img src="../imges/num/04.png"><span class="dq">杭州市</span><span>124332546</span></li>
                    <li><img src="../imges/num/05.png"><span class="dq">杭州市</span><span>124332546</span></li>
                    <li><img src="../imges/num/06.png"><span class="dq">杭州市</span><span>124332546</span></li>
                    <li><img src="../imges/num/07.png"><span class="dq">杭州市</span><span>124332546</span></li>
                    <li><img src="../imges/num/08.png"><span class="dq">杭州市</span><span>124332546</span></li>
                    <li><img src="../imges/num/09.png"><span class="dq">杭州市</span><span>124332546</span></li>
                    <li><img src="../imges/num/10.png"><span class="dq">杭州市</span><span>124332546</span></li>
                    <li><img src="../imges/num/11.png"><span class="dq">杭州市</span><span>124332546</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footBox">
        <ul>
            <li><a href="demo2.html"><img src="../imges/left.png"></a></li>
            <li><a href="../index.html"><img src="../imges/home.png"></a></li>
            <li><a href="qsnsrdjzc.html"><img src="../imges/right.png"></a></li>
        </ul>
    </div>
</div>
<script src="../js/dqsrpm.js"></script>
</body>
</html>