<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分税种收入情况</title>
    <link type="text/css" rel="stylesheet" href="../css/publicStyle.css">
    <!--样式-->
    <link type="text/css" rel="stylesheet" href="../css/qsnsrdjzc.css">
    <script src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/highcharts.js"></script>
    <script type="text/javascript" src="../js/exporting.js"></script>
    <script type="text/javascript" src="../js/highcharts-3d.js"></script>
    <script type="text/javascript" src="../js/gg.js"></script>
    <style>
        #cavs1,#cavs2{
            width:45%;
            height:40rem;
            float: left;
        }
        body{
            background-color: #012e8a;
        }
    </style>
</head>
<body>
<div class="box">
    <div class="topBox">
        <p class="title">分税种收入情况</p>
        <!--<img src="./imges/titleBackground.png">-->
    </div>
    <div  id="cavs1" class="leftBox"></div>
    <div id="cavs2" class="rightBox"></div>
    <div class="footBox">
    <ul>
    <li><img src="../imges/left.png"></li>
    <li><img src="../imges/home.png"></li>
    <li><img src="../imges/right.png"></li>
    </ul>
    </div>
</div>
<script src="../js/fszsrqk.js"></script>
</body>
</html>