<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>纳税人登记注册情况年度对比</title>
    <!--公共样式-->
    <link type="text/css" rel="stylesheet" href="../css/publicStyle.css">
    <!--样式-->
    <link type="text/css" rel="stylesheet" href="../css/qknddb.css">
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/highcharts.js"></script>
    <script type="text/javascript" src="../js/exporting.js"></script>
    <script type="text/javascript" src="../js/highcharts-3d.js"></script>
    <script src="../js/gg.js"></script>
</head>
<body>
<div class="box qknddb">
    <div class="topBox">
        <p class="title">纳税人登记注册情况年度对比</p>
        <!--<img src="../imges/titleBackground.png">-->
    </div>
    <div id="leftBox" style="width:65%;height:450px"></div>
    <div class="rightBox" style="width: 35%;height: 450px">
        <ul class="qknddbList">
            <li>
            <p class="qknddbOption">新增纳税人</p>
            <p class="qknddbData">4445525</p>
            </li>
            <li>
                <p class="qknddbOption">有效数</p>
                <p class="qknddbData">3301246</p>
            </li>
            <li>
                <p class="qknddbOption">注销纳税人</p>
                <p class="qknddbData">1144289</p>
            </li>
        </ul>
    </div>
    <div class="footBox">
        <ul>
            <li><a href="qsnsrdjzc.html"><img src="../imges/left.png"></a></li>
            <li><a href="../index.html"><img src="../imges/home.png"></a></li>
            <li><a href="dssrnddb.html"><img src="../imges/right.png"></a></li>
        </ul>
    </div>
</div>
<script src="../js/qknddb.js"></script>
</body>
</html>