<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>纳税人登记注册情况年度对比</title>
    <!--公共样式-->
    <link type="text/css" rel="stylesheet" href="../css/publicStyle.css">
    <!--样式-->
    <link type="text/css" rel="stylesheet" href="../css/qknddb.css">
</head>
<body>
<div class="box qknddb">
    <div class="topBox">
        <p class="title">纳税人登记注册情况年度对比</p>
        <!--<img src="../imges/titleBackground.png">-->
    </div>
    <div class="leftBox"></div>
    <div class="rightBox">
        <ul class="qknddbList">
            <li>
                <p class="qknddbOption">纳税人登记注册用户数</p>
                <p class="qknddbData">9999999999999999999</p>
            </li>
        </ul>
    </div>
    <div class="footBox">
        <ul>
            <li><img src="../imges/left.png"></li>
            <li><img src="../imges/home.png"></li>
            <li><img src="../imges/right.png"></li>
        </ul>
    </div>
</div>
</body>
</html>