<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全省地税收入整体展示</title>
    <link rel="stylesheet" type="text/css" href="../css/publicStyle.css">
    <link type="text/css" rel="stylesheet" href="../css/qknddb.css">
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script src="../js/esl.js"></script>
    <script src="../js/echarts.js"></script>
    <script src="../js/gg.js"></script>
    <script src="../js/angular.min.js"></script>
</head>
<body ng-app="qsdssrzs">
    <div class="box" ng-controller="qsdssrzsCtrl">
        <div class="topBox">
            <p class="title">全省地税收入整体展示</p>
            <!--<img src="../imges/titleBackground.png">-->
        </div>
        <div class="leftBox" id="mapcavs" style="height: 500px"></div>
        <div class="rightBox">
            <ul>
                <li>
                    <p>地税组织收入</p>
                    <p></p>
                </li>
                <li>
                    <p>税收收入</p>
                    <p></p>
                </li>
                <li>
                    <p>非税收收入</p>
                    <p></p>
                </li>
                <li>
                    <p>社保基金收入</p>
                    <p></p>
                </li>
            </ul>
        </div>
        <div class="footBox">
            <ul>
                <li><a href="demo2.html"><img src="../imges/left.png"></a></li>
                <li><a href="../index.html"><img src="../imges/home.png"></a></li>
                <li><a href="qsnsrdjzc.html"><img src="../imges/right.png"></a></li>
            </ul>
        </div>
    </div>
    <script src="../js/qsdssrzs.js"></script>
</body>
</html>