<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全省纳税人登记注册情况</title>
    <!--公共样式-->
    <link type="text/css" rel="stylesheet" href="../css/publicStyle.css">
    <!--样式-->
    <link type="text/css" rel="stylesheet" href="../css/qsnsrdjzc.css">
</head>
<body>
    <div class="box">
        <div class="topBox">
            <p class="title">全省纳税人登记注册情况</p>
            <!--<img src="../imges/titleBackground.png">-->
        </div>
        <div class="leftBox"></div>
        <div class="rightBox">
            <div class="qsnsrdjzcRightBox">
                <div class="qsnsrdjzcTitle">
                    <p>纳税人登记注册户数</p>
                    <p>88888888</p>
                </div>
                <div class="qsnsrdjzcContent">
                    <ul>
                        <li><span class="dq">杭州</span><span class="hs">888户</span><span class="bfb">88%</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footBox">
            <ul>
                <li><img src="../imges/left.png"></li>
                <li><img src="../imges/home.png"></li>
                <li><img src="../imges/right.png"></li>
            </ul>
        </div>
    </div>
</body>
</html>