<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>实时申报情况监控</title>
    <!--公共样式-->
    <link type="text/css" rel="stylesheet" href="../css/publicStyle.css">
    <!--样式-->
    <link type="text/css" rel="stylesheet" href="../css/sssbqkjk.css">
    <link type="text/css" rel="stylesheet" href="../css/qsnsrdjzc.css">
    <script src="../js/jquery.js"></script>
    <script src="../js/esl.js"></script>
    <script src="../js/echarts.js"></script>
    <script src="../js/gg.js"></script>
    <!-- gg公共-->
    <script src="../js/angular.min.js"></script>
    <!--<script src="js/angular-ui-router.min.js"></script>-->
</head>
<body>
<div class="box">
    <div class="topBox">
        <p class="title">实时申报情况监控</p>
        <!--<img src="./imges/titleBackground.png">-->
    </div>
    <div class="leftBox" id="mapcavs" style="height: 550px;width: 60%"></div>
    <div class="rightBox" style="width: 40%">
        <div class="sssbqkjkBox">
            <div class="drsb">
                <p class="title">单日申报</p>
                <ul>
                    <li>
                        <p class="data">87532.17</p>
                        <p class="dw">万元</p>
                    </li>
                    <li>
                        <p class="data">10355</p>
                        <p class="dw">笔</p>
                    </li>
                </ul>
            </div>
            <div class="sssb">
                <p class="title">实时申报</p>
                <ul>
                    <li class="mc">某某某</li>
                    <li class="sz">个人所得税</li>
                    <li class="je">8888<span>万元</span></li>
                </ul>
                <ul>
                    <li class="mc">某某某公司</li>
                    <li class="sz">营业税</li>
                    <li class="je">8888<span>万元</span></li>
                </ul>
                <ul>
                    <li class="mc">某某某企业</li>
                    <li class="sz">企业所得税</li>
                    <li class="je">8888<span>万元</span></li>
                </ul>
                <ul>
                    <li class="mc">某某某集团</li>
                    <li class="sz">个人所得税</li>
                    <li class="je">8888<span>万元</span></li>
                </ul>
                <ul>
                    <li class="mc">某某某部门</li>
                    <li class="sz">城建税</li>
                    <li class="je">8778<span>万元</span></li>
                </ul>
                <ul>
                    <li class="mc">某某某公司</li>
                    <li class="sz">个人所得税</li>
                    <li class="je">8888<span>万元</span></li>
                </ul>
                <ul>
                    <li class="mc">某某某部门</li>
                    <li class="sz">文化建设费</li>
                    <li class="je">8888<span>万元</span></li>
                </ul>
                <ul>
                    <li class="mc">某某某公司</li>
                    <li class="sz">房产税</li>
                    <li class="je">89988<span>万元</span></li>
                </ul>
                <ul>
                    <li class="mc">某某某</li>
                    <li class="sz">个人所得税</li>
                    <li class="je">88833<span>万元</span></li>
                </ul>
                <ul>
                    <li class="mc">某某某部门</li>
                    <li class="sz">印花税</li>
                    <li class="je">88855<span>万元</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footBox">
        <ul>
            <li><a href="fszsrqk.html"><img src="../imges/left.png"></a></li>
            <li><a href="../index.html"><img src="../imges/home.png"></a></li>
            <li><a href="demo2.html"><img src="../imges/right.png"></a></li>
        </ul>
    </div>
</div>
<script src="../js/sssbqkjk.js"></script>
<!--<script>-->
    <!--jsScroll(document.getElementById('mysrocll'));-->
<!--</script>-->
</body>
</html>