<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>外部门联网</title>
    <!--公共样式-->
    <link type="text/css" rel="stylesheet" href="../css/publicStyle.css">
    <link type="text/css" rel="stylesheet" href="../css/wbmlw.css">
</head>
<body>
    <div class="box wbmlw">
        <div class="topBox">
            <p class="title">全省纳税人登记注册情况</p>
            <!--<img src="./imges/titleBackground.png">-->
        </div>
        <div class="centerBox">
            <div class="cricle">省公安厅<br>25%</div>
            <div class="img"></div>
        </div>
        <div class="footBox">
            <ul>
                <li><a href="qsdssrzs.html"><img src="../imges/left.png"></a></li>
                <li><a href="../index.html"><img src="../imges/home.png"></a></li>
                <li><a href="qknddb.html"><img src="../imges/right.png"></a></li>
            </ul>
        </div>
    </div>
</body>
</html>