<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>外部门联网</title>
    <!--公共样式-->
    <link type="text/css" rel="stylesheet" href="../css/publicStyle.css">
    <link type="text/css" rel="stylesheet" href="../css/wbmlw.css">
</head>
<body>
    <div class="box wbmlw">
        <div class="topBox">
            <p class="title">外部门联网</p>
            <!--<img src="./imges/titleBackground.png">-->
        </div>
        <div class="centerBox">
            <div class="circle sgat">省公安厅<br>25%</div>
            <div class="circle sgsj">省工商局<br>12%</div>
            <div class="circle srst">省人事厅<br>5%</div>
            <div class="circle sgsj1">省国税局<br>18%</div>
            <div class="circle szjj">省质监局<br>20%</div>
            <div class="circle hzqszx">杭州清算中心<br>10%</div>
            <div class="circle yl">银联或各<br>商业银行<br>10%</div>
            <div class="circle sb">市、县社保<br>管理机构<br>25%</div>
            <div class="img1"></div>
            <div class="img2"></div>
            <div class="img3"></div>
            <div class="img4"></div>
            <div class="img5"></div>
            <div class="img6"></div>
        </div>
        <div class="footBox">
            <ul>
                <li><a href="dqsrpm.html"><img src="../imges/left.png"></a></li>
                <li><a href="../index.html"><img src="../imges/home.png"></a></li>
                <li><a href="fhysr.html"><img src="../imges/right.png"></a></li>
            </ul>
        </div>
    </div>
</body>
</html>